<#@ include file="NodeFileNamesGenerator.tt" #>
// Generated code
namespace Bike.Ast {
	public partial class NodeWalker {
		<# 
		var fileNames = GetNoneAbstractClassesFileNames();
		foreach (var fileName in fileNames)
		{
		#>	
		public virtual bool Enter(<#= fileName #> node) {	
			return true;
		}
		
		public virtual void Exit(<#= fileName #> node) {	
		}
		<# 
		} 
		#>
	}
}