<#@ include file="NodeFileNamesGenerator.tt" #>
// Generated code
namespace Bike.Ast {
	public enum NodeType {
	<# 
	var fileNames = GetFileNames();
	foreach (var fileName in fileNames)
	{
		#><#= fileName #>,	
	<# } #>
	}
}